@mixin container() {
  max-width: 1152px;
  padding: 0 32px;
  width: 100%;
  position: relative;
  margin: 0 auto 0 auto;
  box-sizing: border-box;

  @media (min-width: 1200px) {
    max-width: 1152px;
  }
}
