//Global
@import './project/reset';
@import './project/variables.scss';
@import './project/links';
@import './mixins/container.scss';
@import './project/type.scss';

//Header
@import './project/header.scss';
//Home
@import './project/aside.scss';
@import './project/about-me.scss';

//Footer
@import './project/footer.scss';

main {
  @include container();
  margin-top: 40px;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 48px;
}
@media (max-width: 744px) {
  main {
    display: block;
  }
}

.image-fluid {
  display: block;
  width: 100%;
  height: auto;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
