@import './vendor/reset';

@import './mixins/container.scss';

@import './modules/social-icons.scss';

@import './global/variables.scss';

@import './global/links';
@import './global/type.scss';

@import './partials/header.scss';

@import './partials/aside.scss';
@import './partials/about-me.scss';

@import './partials/footer.scss';

main {
  @include container();
  margin-top: 40px;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 48px;
}
@media (max-width: 744px) {
  main {
    display: block;
  }
}

.image-fluid {
  display: block;
  width: 100%;
  height: auto;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.about-me ul.social__icons {
  justify-content: flex-start;
}
