.about-me {
  margin-top: 0;
  margin-bottom: 56px;
}
.about-me p:first-of-type {
  margin-top: 8px;
}
.about-me ul,
.about-me li {
  font-size: 16px;
  line-height: 140%;
}

.about-me li {
  margin-bottom: 0;
}

.about-me a {
  color: $color-highlight;
}
.about-me a:hover {
  color: $color-dark;
}

.about-me ul:last-of-type {
  display: none;
}
@media (max-width: 744px) {
  .about-me {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .about-me ul:last-of-type {
    display: flex;
    margin-top: 24px;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .about-me ul:last-of-type li {
    margin-right: 16px;
  }
}
