main {
  @include container();
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 48px;
}

@media (max-width: 744px) {
  main {
    display: block;
  }
}
