// Social Icons
.social__icons {
  display: flex;
  align-items: flex-end;
  margin-top: 16px;
}
.social__icon {
  margin-right: 24px;
}
.social__icon svg:hover {
  opacity: 0.5;
}
@media (max-width: 744px) {
  .social__icons {
    justify-content: center;
  }
}
